
<table
    class="habit-table table table-bordered palette palette-turquoise"
    ng-class="{ 'loading': vm.isLoading() }">
    <colgroup>
        <col></col>
        <col></col>
        <col></col>
        <col></col>
        <col></col>
        <col></col>
        <col style="background:#16a085"></col>
        <col></col>
        <col></col>
        <col></col>
        <col></col>
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
            <th>Pts</th>
        </tr>
    </thead>
    <tbody class="tbody">
        <!-- Loop over the habitModels -->
        <tr ng-repeat="habit in vm.getHabits()">
            <td>
                <!-- Display the name -->
                <input type="text" ng-model="habit.name" />
                <!--
                We are bound the habitModels implementation, but using the controller like so has allowed us to avoid knowing how the model is structured.

                It would look like this without the controller: model.habits.read($index).name

                The view stays clean, knows about parts of the models functionaltiy that is important and would allow us to change the model structure without much work.
                -->
            </td>
            <!-- Loop over the eventModels -->
            <td ng-repeat="event in vm.getEventsFilteredByHabit(habit)" class="{{event.rating()}}" >
                <input type="number" ng-model="event.points" />
            </td>
            <td>
                {{ vm.getTotalPointsForHabit(habit) }}
            </td>
        </tr>
        <tr>
            <td>
                <button
                    ng-click="vm.save()"
                    class="btn btn-block btn-info">Save</button>
            </td>
            <td colspan="7" class="bottom-expanded-row">Habit points this week</td>
            <td>{{ vm.getTotalPoints() }}</td>
        </td>
    </tbody>
</table>